html, body {

  height: 100%;
  /*min-height:100%;*/
}
body {
  margin:0;
  width:100%;
  /*min-height:100%;*/

}
.navbar-default {
  margin:1px;
  padding:0px;
  /*margin-bottom:50px;*/
  background-color: rgba(0,0,0,0.7);
}

.row {
  margin:0;
}

.sec-top{
  background: url(../img/landscape.jpg) no-repeat  fixed; 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0px;
  padding-top:70px;
  margin:0px;
  height:100%;
  width:100%;
}
.jumbotron {
  /*margin-top:50px;*/
   background-color: rgba(100,100,0,0.2);
   /*height:100%;*/
}

.navbar-bottom-1 {
  min-height: 20px;
  color: black;
}

.sec-about,.sec-contact {
  padding:0px;
  margin:0px;
  padding-top:20px;
  width: 100%;
  height:100%;
  background: url(../img/landscape2.jpg) center center fixed; 
  background-size: 100% 100%;
  /*overflow:hidden;*/
  /*z-index: 1;*/

}


.sect-header {
}

.caption {
  background-color: rgba(200,0,100,0.5);
}


#wrapper {
display:inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
