extends ../layout
block content
  div.container
    div.row
      h1= 'Edit article'
        form(role='form', action='/articles/update/'+article._id, method='post')
          input(type='hidden', name='_csrf', value=''+csrf_token)
          fieldset
            div.row
              div.center-block
                center
                  i.ion.ion-ios-contact(style='font-size: 96px')
            div.row
              //-div.col-sm-12.col-md-10.col-md-offset-1
              div.col-md-12

                div.form-group
                  div.input-group
                    span.input-group-addon
                      i.glyphicon.glyphicon-user
                    input.form-control(type='text', name='title', placeholder='Put title here!', value=article.title)
                div.form-group
                  div.input-group
                    span.input-group-addon
                      i.glyphicon.glyphicon-lock
                    //-input.form-control(type='text', name='body', placeholder='pass')
                    textarea.form-control(name='body')= article.body
                div.form-group
                  div.input-group
                    span.input-group-addon
                      i.glyphicon.glyphicon-lock
                    input.form-control(type='text', name='tags', placeholder='pass')
                      
                div.form-group
                  input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Update')
