doctype html
html
  head
    title= "UMSS IO | Innova, Inspira Transforma"
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='content-type', content='text/html')

    link(href='/bootstrap/css/bootstrap.css', rel='stylesheet', media='screen')
    script(src='/js/jquery-1.12.1.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/js/moment.js')
    script(src='/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js')

    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css')

  body

    block header
    
    block content

    block footer